video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-bottom: 40px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.77);
}

.jumbotron2 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgba(143, 143, 143, 0.77);
}

.jumbotron3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgb(255, 255, 255);
}

.colti {
    color: #000;
}

@media (max-width: 576px) {
    .nav-item {}
}

@media screen and (max-width:800) {
    head {
        background-color: cornsilk;
    }
}

.marco {
    position: relative;
    width: 100%;
    left: 190px;
    bottom: 145px;
}

.personajes {
    position: relative;
    width: 100%;
    left: 215px;
    bottom: -145px;
}