                body {
                    margin: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .topnav {
                    overflow: hidden;
                    background-color: #333;
                }
                
                .topnav a {
                    float: left;
                    display: block;
                    color: #f2f2f2;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                }
                
                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }
                
                .topnav a.active {
                    background-color: #4CAF50;
                    color: white;
                }
                
                .topnav .icon {
                    display: none;
                }
                
                @media screen and (max-width: 600px) {
                    .topnav a:not(:first-child) {
                        display: none;
                    }
                    .topnav a.icon {
                        float: right;
                        display: block;
                    }
                }
                
                @media screen and (max-width: 600px) {
                    .topnav.responsive {
                        position: relative;
                    }
                    .topnav.responsive .icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .topnav.responsive a {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                }
                
                .bord {
                    border: rgb(0, 0, 0) 5px solid;
                }
                
                .jumbotron0 {
                    padding: 3px 10px;
                    border: rgb(0, 0, 0) 5px double;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    padding-top: 30px;
                    padding-bottom: 40px;
                    padding-left: 30px;
                    margin-bottom: 40px;
                    color: inherit;
                    background-color: rgba(255, 255, 255, 0.77);
                }
                
                .jumbotron00 {
                    padding: 50px;
                    position: relative;
                    border: rgb(0, 0, 0) 5px double;
                    color: inherit;
                    background-color: rgba(255, 255, 255, 0.77);
                }
                
                .jumbotron {
                    padding: 3px 10px;
                    border: rgb(0, 0, 0) 5px solid;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    padding-top: 30px;
                    padding-bottom: 40px;
                    padding-left: 30px;
                    margin-bottom: 40px;
                    color: inherit;
                    background-color: rgba(255, 255, 255, 0.77);
                }
                
                .jumbotron2 {
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 0px;
                    color: inherit;
                    background-color: rgba(0, 0, 0, 0.77);
                }
                
                .jumbotron3 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-bottom: 30px;
                    color: inherit;
                    background-color: rgb(255, 255, 255);
                }
                
                .jumbotron4 {
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 100px;
                    padding-bottom: 100px;
                    margin-bottom: 0px;
                    color: inherit;
                    background-color: rgba(0, 0, 0, 0.77);
                }
                
                .colti {
                    color: #000;
                }
                
                .carousel-inner img {
                    width: 50%;
                    height: 100%;
                    position: relative;
                    left: 250px;
                }
                
                .backgrauncarusel {
                    width: 90%;
                    height: 100%;
                    position: relative;
                    left: 20px;
                }
                
                .ene {
                    width: 90%;
                    height: 100%;
                    position: relative;
                    left: 00px;
                    height: auto;
                    max-width: 100%;
                }
                
                .carousel-inner2 img {
                    width: 50%;
                    height: 100%;
                    position: relative;
                    left: 250px;
                }
                
                .backgrauncarusel2 {
                    width: 55%;
                    height: 250%;
                    position: relative;
                    left: 500px;
                }
                
                .menu-fixed {
                    position: fixed;
                    z-index: 1000;
                    top: 0;
                    width: 100%;
                    max-width: 100%;
                    box-shadow: rgb(0, 0, 5);
                }
                
                @media screen and (max-width: 600px) {
                    .backgrauncarusel2 {
                        display: none;
                    }
                    .carousel slide {
                        float: right;
                        display: block;
                    }
                }
                
                @media screen and (max-width: 600px) {
                    .topnav.responsive {
                        position: relative;
                    }
                    .topnav.responsive .icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .topnav.responsive a {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                }
                
                .marco {
                    position: relative;
                    width: 100%;
                    bottom: 300px;
                }
                
                .personajes {
                    padding: 50px;
                    position: relative;
                    width: 100%;
                    top: 300px;
                }
                /* contact */
                
                form {
                    margin: 0 auto;
                    width: 400px;
                    padding: 1em;
                    border: 1px solid rgb(0, 0, 0);
                    border-radius: 1em;
                }
                
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                
                form li+li {
                    margin-top: 1em;
                }
                
                label {
                    display: inline-block;
                    width: 90px;
                    text-align: right;
                }
                
                input,
                textarea {
                    font: 1em sans-serif;
                    width: 300px;
                    box-sizing: border-box;
                    border: 1px solid rgb(0, 0, 0);
                }
                
                input:focus,
                textarea:focus {
                    border-color: #000;
                }
                
                textarea {
                    vertical-align: top;
                    height: 5em;
                }
                
                .button {
                    padding-left: 90px;
                }
                
                button {
                    margin-left: .5em;
                }