                    <style>body {
                        margin: 0;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .topnav {
                        overflow: hidden;
                        background-color: #333;
                    }
                    
                    .topnav a {
                        float: left;
                        display: block;
                        color: #f2f2f2;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 17px;
                    }
                    
                    .topnav a:hover {
                        background-color: #ddd;
                        color: black;
                    }
                    
                    .topnav a.active {
                        background-color: #4CAF50;
                        color: white;
                    }
                    
                    .topnav .icon {
                        display: none;
                    }
                    
                    @media screen and (max-width: 600px) {
                        .topnav a:not(:first-child) {
                            display: none;
                        }
                        .topnav a.icon {
                            float: right;
                            display: block;
                        }
                    }
                    
                    @media screen and (max-width: 600px) {
                        .topnav.responsive {
                            position: relative;
                        }
                        .topnav.responsive .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        .topnav.responsive a {
                            float: none;
                            display: block;
                            text-align: left;
                        }
                    }
                    
                    </style>video {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        min-width: 100%;
                        min-height: 100%;
                        width: auto;
                        height: auto;
                        z-index: -100;
                        transform: translateX(-50%) translateY(-50%);
                    }
                    
                    .jumbotron {
                        padding-top: 30px;
                        padding-bottom: 40px;
                        padding-left: 30px;
                        margin-bottom: 40px;
                        color: inherit;
                        background-color: rgba(255, 255, 255, 0.77);
                    }
                    
                    .jumbotron2 {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        color: inherit;
                        background-color: rgba(0, 0, 0, 0.77);
                    }
                    
                    .jumbotron3 {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-bottom: 30px;
                        color: inherit;
                        background-color: rgb(255, 255, 255);
                    }
                    
                    .jumbotron4 {
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 100px;
                        padding-bottom: 100px;
                        margin-bottom: 0px;
                        color: inherit;
                        background-color: rgba(0, 0, 0, 0.77);
                    }
                    
                    .colti {
                        color: #000;
                    }
                    
                    .carousel-inner img {
                        width: 50%;
                        height: 100%;
                        position: relative;
                        left: 250px;
                    }
                    
                    .backgrauncarusel {
                        width: 55%;
                        height: 250%;
                        position: relative;
                        left: 500px;
                    }
                    
                    .carousel-inner2 img {
                        width: 50%;
                        height: 100%;
                        position: relative;
                        left: 250px;
                    }
                    
                    .backgrauncarusel2 {
                        width: 55%;
                        height: 250%;
                        position: relative;
                        left: 500px;
                    }